/* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Nguyen Hoang Minh
ID: s3977773
Acknowledgement: 
Utopia icons created by Good Ware - Flaticon (https://www.flaticon.com/free-icons/utopia)
CSS and HTML inspirations from w3schools.com and stackoverflow.com:
https://www.w3schools.com/howto/howto_css_custom_checkbox.asp
https://stackoverflow.com/questions/4309950/how-to-align-input-forms-in-html */

* {
    font-size: 62.5%;
    font-family: "Nunito", sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.7rem;
}

h3 {
    font-size: 2.3rem;
}

body {
    margin: 0;
    background-color: white;
}

header {
    display: flex;
    justify-content: center;
    background-color: #b2cefe;
    align-items: center;
    height: 100px;
}

main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

section {
    display: flex;
    width: 80%;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

iframe {
    width: 80%;
    height: 500px;
}

.breadcrumb li {
    border: none;
}

.breadcrumb a:after {
    position: relative;
    content: "";
    left: 12px;
    top: 10px;
    width: 10px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    transform: rotate(-45deg);
}


.picture-section {
    flex-direction: row;
}

.detail-section {
    padding: 15px;
    background-color: #b2cefe;
    display: block;
    text-align: left;
}

.detail-section h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 5rem;
}

.detail-section h2 {
    margin-top: 0;
    font-size: 4rem;
}

.detail-section p {
    font-size: 2rem;
}

footer {
    padding-top: 25px;
    padding-bottom: 15px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    background-color:#b2cefe;
    align-items: center;
}
#logo {
    display: flex;
    align-items: center;
}

#logo-text {
    display: flex;
    align-items: center;
    font-size: 3.5rem;
    margin-left: 5px;
}

#logo-picture {
    width:80px;
    height: 80px;
}

ul {
    margin: 0px;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

li {
    font-size: 4rem;
    border-right: 2px solid black;
    padding-left: 15px;
    padding-right: 15px;
}

li:last-child {
    border-right: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
    text-align: center;
}

a {
    display: flex;
    text-decoration: none; 
}

a:link, a:visited {
    color: black;
}

a:hover {
    text-decoration: underline;
}



footer nav {
    justify-content: flex-end;
}

.category {
    display: flex;
    justify-content: center;
    height:10%;
    width:100%;
    margin-bottom: 20px;
}

.book-div {
    display: flex;
    height:90%;
    justify-content: space-evenly;
}

.book {
    width: 25%;
}

.book img {
    width:100%;
    aspect-ratio: 2 / 3;
}

.book div h3 {
    text-align: center;
    vertical-align: center;
}

.book img:hover {
    scale: 1.02;
}

#page-header {
    margin-top: 50px;
}

.contact {
    background-color: #b2cefe;
    width:40%;
}

/* Making the form a table */

form { 
    display: table;
    margin: 20px;
}
p {
    display: table-row;
}
label {
    display: table-cell;
    text-align: right;
    padding-right: 5px;
    vertical-align: center;
}
input {
    display: table-cell;
}
button {
    display: table-cell;
    scale: 1;
    font-size: 2rem;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #eee;
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 20px;
}


button:hover {
    transition: 0.2s linear;
    color: white;
    background-color: #2196F3;
}

#reset-label button {
    color: red;
}

#reset-label button:hover {
    transition: 0.2s linear;
    background-color: red;
    color: white;
}

#submit-label {
    text-align: left;
}

label, select, input {
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
    border: none;
    outline: none;
}

input:hover {
    transition: 0.2s linear;
    background-color: #ccc;
}

select {
    width: 233px;
    cursor: pointer;
}

textarea {
    margin-left: 5px;
    font-size: 2rem;
    resize: none;
    margin-top: 10px;
    overflow: auto;
    border: none;
    outline: none;
}

/* Red color for required asterisk "*" */
label span {
    font-size: 2rem;
    color: red;
}

/* Styling the checkbox */
.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 2rem;
    text-align: left;
}

/* Hiding the default checkbox */
.container-checkbox input {
    opacity: 0;
}

/* Creating a new checkbox */
.checkmark-tick {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* Mouse hover animation for checkbox */
.container-checkbox:hover input ~ .checkmark-tick {
    transition: 0.2s linear;
    background-color: #ccc;
}

/* Checkbox checked color */
.container-checkbox input:checked ~ .checkmark-tick {
    background-color: #2196F3;
}

/* Creating the checkmark-tick but is hidden when not checked */
.checkmark-tick:after {
    content: "";
    position: absolute;
    display: none;
}

/* Modifying the checkmark-tick */
.container-checkbox .checkmark-tick:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/* Showing the checkmark-tick when checked */
.container-checkbox input:checked ~ .checkmark-tick:after {
    display: block;
}


/* Styling the radios label */
.container-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 2rem;
    text-align: left;
}

/* Hiding the default radios */

.container-radio input {
    opacity: 0;
}

/* Creating a new radio button */

.checkmark-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* Mouse hover animation for radio */
.container-radio:hover input ~ .checkmark-radio {
    transition: 0.2s linear;
    background-color: #ccc;
}

/* Radio checked color */
.container-radio input:checked ~ .checkmark-radio {
    background-color: #2196F3;
}

/* Creating the checkmark-radio but is hidden when not checked */
.checkmark-radio:after {
    content: "";
    position: absolute;
    display: none;
}

/* Showing the checkmark-radio when checked */
.container-radio input:checked ~ .checkmark-radio:after {
    display: block;
}

/* Modifying the checkmark-radio */
.container-radio .checkmark-radio:after {
    left: 9px;
    top: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.left-container {
    width:66%;
}

.left-container img:hover {
    scale: 1.05;
}

.right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33%;
}

.right-container h1 {
    font-size: 5rem;
}

.right-container button {
    font-size: 5rem;
}

.right-container button:hover {
    transition: 0.2s linear;
    background-color: #2196F3;
}

.book-images {
    display: flex;
    flex-direction: row;
}

.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:50%;
}
.cover img {
    aspect-ratio: 2 / 3;
    width:80%;
}

.small {
    display: flex;
    width:50%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.small img {
    margin-top: 10px;
    width: 25%;
    margin-bottom: 10px;
}


/* Responsive for mobile devices */

@media only screen and (max-width: 960px) {
    
    /* Making the navigation bar vertical */
    header {
        height: 100%;
    }

    nav {
        flex-direction: column;
    }

    ul {
        padding-left: 0px;
        flex-direction: column;
    }

    li {
        margin-bottom: 15px;
        border-right: none;
        border-bottom: 2px solid black;
    }

    li:last-child {
        margin-bottom: 5px;
        border-bottom: none;
    }

    iframe {
        height: 250px;
    }

    section {
        margin-top: 0px;
    }

    .category {
        margin-bottom: 0px;
    }

    .category h2 {
        font-size: 4rem;
    }

    .book-div {
        flex-direction: column;
    }

    .book {
        margin-top: 20px;
        width: 100%;
    }

    .book h3 {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #page-header {
        font-size: 5rem;
        margin-top: 20px;
    }

    .contact {
        width: 90%;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    p {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    #end-of-form {
        flex-direction: row;
        justify-content: flex-start;
    }

    button {
        padding: 0px;
        margin-right: 5px;
        width: 100%;
        height: 100%;
    }

    .breadcrumb {
        width: 90%;
        text-align: left;
        margin-top: 15px;
    }

    .breadcrumb ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .breadcrumb a, .breadcrumb p {
        font-size: 2rem;
    }

    .breadcrumb p {
        margin: 0;
    }

    .picture-section {
        margin-top: 10px;
        margin-bottom: 20px;
        width: 90%;
        flex-direction: column;
    }

    .left-container {
        width: 100%;
    }

    .book-images {
        flex-direction: column;
    }

    .small {
        margin-top: 10px;
        flex-direction: row;
        width: 100%;
    }

    .cover {
        width: 100%;
    }
    
    .cover img {
        width: 100%;
    }

    .right-container {
        width: 100%;
    }

    .right-container h1, .right-container button {
        font-size: 4.5rem;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .detail-section {
        width: calc(90% - 30px);
    }
    
    .detail-section h1 {
        font-size: 3.5rem;
    }

    .detail-section h2 {
        font-size: 2.5rem;
    }
}